---
import { getCollection } from "astro:content";
import BaseLayout from "../../layouts/BaseLayout.astro";

const { slug } = Astro.params;
const allPosts = await getCollection("agroecologia");

// Find the post based on the slug
const post = allPosts.find((p) => p.slug === slug);
if (!post) {
  throw new Error(`Post not found: ${slug}`);
}

const { title, description, author} = post.data;
const content = post.body; // Get the content of the post

// getStaticPaths function to tell Astro which paths to pre-render
export async function getStaticPaths() {
  const posts = await getCollection("agroecologia");
  return posts.map((post) => ({
    params: { slug: post.slug }, // The slug is used to generate the URL
  }));
}
---

<BaseLayout pageTitle={title}>
  <article>
    <h1>{title}</h1>
    <p>{description}</p>
    <p><strong>Author:</strong> {author}</p>
    <div>{content}</div> <!-- Display the main content of the post -->
  </article>
</BaseLayout>
